.fizz{
    background-color: red;
}

.buzz{
    background-color: blue;
}

.fizzbuzz{
    background-color: yellow;
}

.normal{
    background-color: pink;
}

button{
    margin: 10px;
}

#count{
    text-align: center;
    margin-top: 50px;
}
